// .main__contact {
//   display: grid;
//   grid-template-columns: 5% 90% 5%;
// }

// .form__wrapper {
//   grid-column-start: 2;
//   grid-column-end: 3;
//   @media only screen and (min-device-width: 939px) {
//    max-width: 1000px;
//   }
// }

// .form__contact {
//   border: 1px solid $color-parisian-blue;
//   border-radius: 5px;
//   margin: 10px auto;
//   padding: 15px 20px;
//   max-width: 600px;
// }

// .input-container {
//   margin: 20px auto;
// }

// input {
//   border: 1px solid $color-vivid-cerulean;
//   border-radius: 3px;
//   background: $color-bubbles;
//   padding: 10px;
//   display: block;
//   box-sizing: border-box;
//   width: 100%;
// }

// textarea {
//   border: 1px solid $color-vivid-cerulean;
//   border-radius: 3px;
//   background: $color-bubbles;
//   padding: 20px 5px;
//   display: block;
//   box-sizing: border-box;
//   width: 100%;
// }

// .label {
//   display: block;
//   margin: 10px 5px;
//   font-family: $main-font;
//   font-weight: 400;
//   font-size: 12px;
//   line-height: 1;
//   color: 	#a9a9a9;
//   text-transform: uppercase;
// }