.form__wrapper {
  display: none;
}

.form__wrapper--open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.form__contact {
  box-shadow: 0 0 5px 1px rgba(216, 216, 216, 1);
  border-radius: 5px;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  background: $white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  @include font-size(2);

  display: block;
  text-align: right;
  margin: 10px 0;
  color: $black;
}

.far.fa-window-close {
  width: 40px;
  height: 40px;
}

.modal-text-wrap {
  margin: 10px auto;
  padding: 20px 10px;
  max-width: 400px;
  background: $pure-yellow;
  color: $dark-blue;
  border-radius: 5px;
}

.modal-text {
  @include font-size(1.6);

  text-align: center;
  padding: 0 10px;
  font-family: $main-font;
  font-weight: 700;
  line-height: 1.3;

  span {
    color: #689e4d;
  }
}

.label {
  @include font-size(1.6);

  display: block;
  padding: 10px 0;
  font-family: $main-font;
  font-weight: 400;
}

.input-container {
  width: 100%;
  margin: 10px auto;
  max-width: 400px;
}

input,
textarea {
  @include font-size(1.6);

  width: 100%;
  padding: 10px 0;
  font-family: $main-font;
  font-weight: 400;
  color: $bright-red;
  background: $grey;
  border: 1px solid $grey;
  box-shadow: 0 0 5px 1px rgba(216, 216, 216, 1);
}

textarea {
  height: 150px;
}
