
// Variables
@import 'variables';

.footer {
  background-color:#eee;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.footer__menu {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 10px;
  text-align: center;
}

.socials {
  padding: 10px 0;
}

.footer__links {
  padding: 10px 0;
}

.link {
  font-family: $main-font;
  font-weight: 500;
  font-size: 15px;
  color: $color-parisian-blue;
  line-height: 1;
  text-decoration: none;
  padding: 0 10px;
}

.link:hover {
  text-decoration: underline;
}

.social__links {
  color: #003459;
  font-size: 20px;
  padding: 0 10px;
}

.copyright {
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  color: $color-parisian-blue;
  padding: 10px 0;
}