.footer {
  background: $grey;
}

.footer__wrapper {
  width: calc(100vw - 55px);
	max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.copyright {
  display: block;
  text-align: center;
  font-family: $lato;
	font-weight: 400;
	font-size: 14px;
	line-height: (12/12);
	text-transform: uppercase;
  color: $black;
  padding: 10px;
}