.header {
	width: 100%;
	position: relative;
	background: rgba($color: #fff, $alpha: .8);
}

.menu {
	width: calc(100vw - 55px);
	max-width: 1200px;
	margin: 0 auto;
	padding: 25px 0 20px;
	display: flex;
	justify-content: space-between;

	@media only screen and (min-width: 768px) {
		padding: 0;
	}
}

.home-box {
	display: flex;

	@media only screen and (min-width: 768px) {
		padding: 10px 15px;
	}
}

.home__link {
	@include font-size(2);

  color: #f44336;
	align-self: center;
}

.home-link-hide {
	display: none;
}

.logo-text {
	@include font-size(2);

	max-width: 100px;
	color: #fff;
	background: #378981;
	font-family: $title-font;
	font-weight: 400;
	margin: 0;
	padding: 10px;
	text-transform: uppercase;
	align-self: center;
	border-radius: 30px;
	height: fit-content;

	@media only screen and (min-width: 768px) {
		max-width: 200px;
	}
}

.menu__text {
	@include font-size(2);

	align-self: center;
	font-family: $main-font;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right;
	color: #378981;
	padding: 10px 15px;
	max-width: 150px;
	text-decoration: none;
	border-style: none;
	background: transparent;

	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.menu__items {
	list-style: none;
	margin: 0;
	padding: 20px 30px;

	@media only screen and (min-width: 768px) {
		padding: 0;
	}
}

.menu__item {
	@include font-size(1.6);

  padding: 30px 15px 0;

  @media only screen and (min-width: 768px) {
    display: inline-block;
		padding: 10px 30px 10px 0;
	}
}

.js-toggle-menu {
	position: absolute;
	left: -100px;
	top: 100px;
	opacity: 0;
	visibility: hidden;
	transition-timing-function: ease-in;
	transition: 0.2s;
	border-top: 2px solid #ffc300;

	@media only screen and (min-width: 768px) {
		position: static;
		opacity: 1;
		border-top: none;
		transition: none;
		padding: 20px;
		visibility: visible;
		color: $white;
	}
}

.js-toggle-menu--open {
	background-color: $white;
	left: 0;
	top: 77px;
	opacity: 1;
	transition: 0.2s;
	transition-timing-function: ease-out;
	cursor: pointer;
	font-size: 2rem;
	width: 100%;
	z-index: 1;
	visibility: visible;
	height: 100vh;

	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.menu__link {
	@include font-size(2);

	text-decoration: none;
	font-family: $main-font;
	font-weight: 700;
	text-transform: uppercase;
	color: #378981;

	@media only screen and (min-width: 768px) {
		@include font-size(1.6);
	}
}

.menu-button {
	@include font-size(1.6);

	padding: 10px 20px;
	margin: 30px 0;
	background: #f44336;
	border-radius: 26px;
	color: $white;
	border-style: none;
	font-family: $main-font;
	font-weight: 700;
	text-transform: uppercase;

	@media only screen and (min-width: 768px) {
		margin: 10px 0;
	}
}
