.header {
	width: 100%;
	position: relative;
	background: transparent;
}

.menu {
	width: calc(100vw - 55px);
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.home-box {
	display: flex;

	@media only screen and (min-width: 768px) {
		padding: 10px 15px;
	}
}

.home__link {
	@include font-size(1.6);

  color: $medium-dark;
	align-self: center;
}

.home-link-hide {
	display: none;
}

.logo-text {
	@include font-size(1.6);

	padding: 5px 0;
	max-width: 100px;
	color: #afc826;
	font-family: $feature-font;
	font-weight: 700;
	text-transform: uppercase;
	align-self: center;
	height: fit-content;

	@media only screen and (min-width: 768px) {
		max-width: 200px;
		padding: 10px;
	}
}

// .logo-text-opposite {
// 	background: $white;
// 	color: $medium-dark;
// }

.menu__text {
	@include font-size(1.8);

	align-self: center;
	font-family: $main-font;
	font-weight: 400;
	text-transform: uppercase;
	text-align: right;
	color: $medium-dark;
	padding: 5px 10px;
	text-decoration: none;
	background: transparent;

	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.menu__items {
	list-style: none;
	margin: 0;
	padding: 20px 30px;

	@media only screen and (min-width: 768px) {
		padding: 0;
	}
}

.menu__item {
	padding: 10px 20px;

  @media only screen and (min-width: 768px) {
    display: inline-block;
		padding: 10px 20px;
	}
}

.js-toggle-menu {
	position: absolute;
	left: -100px;
	top: 100px;
	opacity: 0;
	visibility: hidden;
	transition-timing-function: ease-in;
	transition: 0.2s;
	border-top: 2px solid $bright-red;

	@media only screen and (min-width: 768px) {
		position: static;
		opacity: 1;
		border-top: none;
		transition: none;
		padding: 20px;
		visibility: visible;
		color: $white;
	}
}

.js-toggle-menu--open {
	background-color: $white;
	left: 0;
	top: 77px;
	opacity: 1;
	transition: 0.2s;
	transition-timing-function: ease-out;
	cursor: pointer;
	font-size: 2rem;
	width: 100%;
	z-index: 1;
	visibility: visible;
	height: 100vh;
	color: $medium-dark;

	@media only screen and (min-width: 768px) {
		display: none;
	}
}

.menu__link {
	@include font-size(1.8);

	text-decoration: none;
	font-family: $main-font;
	font-weight: 400;
	text-transform: uppercase;
	color: $medium-dark;
}

.menu-button {
	@include font-size(1.6);

	padding: 10px 20px;
	margin: 10px 0;
	background: $light-pink;
	border-radius: 3px;
	color: $bright-red;
	border-style: none;
	font-family: $main-font;
	font-weight: 700;
	text-transform: uppercase;
}

.white-menu-text {
	color: $white;
}

.white {
	@media only screen and (min-width: 768px) {
		color: $white;
	}
}
