.header {
	width: 100%;
	position: relative;
}

.menu {
	width: calc(100vw - 55px);
	max-width: 1200px;
	margin: 0 auto;
	padding: 25px 0 20px;
	display: flex;
	justify-content: space-between;
}

.logo-text {
	font-family: $lato;
	font-size: 15px;
	font-weight: 400;
	max-width: 100px;
	color: $black;
	margin: 0;
	text-transform: uppercase;
	background: #f7c28d;
	padding: 5px;
	border: 5px solid #885939;
}

.menu__text {
	font-family: $lato;
	font-size: 15px;
	font-weight: 400;
	align-self: center;
	text-transform: uppercase;
	text-align: right;
	color: $dark-blue;
	padding: 10px 15px;
	max-width: 150px;
	text-decoration: none;
	border-style: none;
	background: transparent;
}

.menu__items {
	list-style: none;
	margin: 0;
	display: inline-block;
	align-self: center;
}

.menu__item {
	font-family: $lato;
	font-size: 15px;
	font-weight: 400;
	padding: 0 0 0 15px;
	display: inline-block;
}

.menu__link {
	font-family: $lato;
	font-size: 15px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	color: $dark-blue;
}
