.header {
	width: 100%;
	background: $purple;
}

.menu {
	width: calc(100vw - 55px);
	max-width: 1200px;
	margin: 0 auto;
	padding: 25px 0 20px;
	display: flex;
	justify-content: space-between;
}

.logo-text {
	max-width: 100px;
	margin: 0;
	border: 1px solid $new-white;
	padding: 5px;
	font-family: $lato;
	font-size: 15px;
	font-weight: 400;
	color: $new-white;
	text-transform: uppercase;
}

.menu__text {
	max-width: 150px;
	border-style: none;
	padding: 10px 15px;
	align-self: center;
	text-align: right;
	text-decoration: none;
	background: transparent;
	color: $new-white;
}

.menu__items {
	display: inline-block;
	margin: 0;
	align-self: center;
	list-style: none;
}

.menu__item {
	display: inline-block;
	padding: 0 0 0 15px;
}

.menu__link {
	text-decoration: none;
	color: $new-white;
}
