.main {
  background: #eae7dc;
  box-sizing: border-box;
}

.hero {
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.hero__sub-text {
  font-family: 'Karla', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: (18/21);
  text-transform: uppercase;
  color: #464646;
}

.small-text {
  font-family: 'Karla', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: (24/28);
  text-transform: uppercase;
  color: #8e8d8a;
}

.hero__title {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: (64/75);
  text-transform: uppercase;
  color: #c12957;
}

 .hero__text {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: (24/28);
  color: #000000;
 }

// #740023
// #9A0A35
// #C12957
// #E75480
