
:root {
	--delay: 1s;
	--duration: 1000ms;
	--iterations: 1;
}

/* •·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•·•· */

@keyframes clip-text {
	from {
		clip-path: inset(0 100% 0 0);
  }

	to {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes text-revealer {

  0%,
  50% {
		transform-origin: 0 50%;
	}

  60%,
  100% {
		transform-origin: 100% 50%;
	}

	60% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}

.main__home {
  background-image: url("../images/jess-bailey-q10VITrVYUM-unsplash.jpg");
  background-size: cover;
  background-color: $pure-yellow;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center center;
  margin-top: -100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.text {
  margin: 0 auto;
  padding: 100px 0 0;
  display: block;
  width: 100%;

  @media only screen and (min-width: 768px) {
    width: calc(100vw - 55px);
  }
}

.name span,
.name span::after {
	animation-delay: var(--animation-delay, 2s);
	animation-iteration-count: var(--iterations, 1);
	animation-duration: var(--duration, 800ms);
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.name {
  padding: 10px 15px;
  position: relative;
  display: block;
  margin: 0 auto 50px;

  span {
    @include font-size(7);

    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);

    font-family: $pt-serif;
    text-align: center;
    color: $moderate-green;
    line-height: 1.2;
    font-weight: 700;
    display: block;
    max-width: 700px;
    position: relative;
    margin: 0 auto;
    animation-name: clip-text;
    white-space: wrap;
    cursor: default;

    &::after {
      content: "";
      position: absolute;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: 0 50%;
      pointer-events: none;
      animation-name: text-revealer;
    }
  }

  @media only screen and (min-width: 554px) {
    background: $yellow;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 104px 0 0 90px;
      border-color: transparent transparent transparent $yellow;
    }
  }

  @media only screen and (min-width: 768px) {
    max-width: 800px;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      right: 100%;
      width: 100%;
      height: 100%;
      background: $yellow;
    }
  }
}

.sub-text {
  @include font-size(1.8);

  font-family: $lato;
  font-weight: 400;
  line-height: 1.3;
  color: $dark-blue;
  padding: 20px;
  position: relative;
  display: block;
  margin: 0;
  background: $yellow;
  text-align: center;

  @media only screen and (min-width: 768px) {
    @include font-size(2.5);

    max-width: 768px;
    margin: 0 auto;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 104px 90px;
      border-color: transparent transparent $yellow transparent;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background: $yellow;
    }
  }
}

.center-link {
  @include font-size(1.2);

  font-family: $title-font;
  font-weight: 400;
  padding: 15px 20px;
  max-width: 150px;
  display: block;
  margin: 30px auto 0;
  text-decoration: none;
  color: $white;
  background: $dark-cyan;
  border-radius: 26px;
  text-align: center;

  @media only screen and (min-width: 768px) {
    @include font-size(1.5);

    margin: 60px auto 0;
  }
}
