
@keyframes slide {
  0% {
    width: 0%;
  }

  40%,
  100% {
    width: 100%;
  }
}

.main {
  width: 100%;
  height: 100%;
  margin-top: -100px;
  background:  /* top, transparent red */
  linear-gradient(
    rgba(51, 88, 87, 0.6),
    rgba(52, 75, 74, 0.5)
  ),
  url('../images/cookie-the-pom-large.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.hero {
  height: 100%;
  width: 100%;
  padding: 100px 0;

  @media only screen and (min-width: 768px) {
    padding: 130px 0;
  }
}

.hero__wrapper {
  padding: 80px 0;
  width: calc(100vw - 55px);
  margin: 0 auto;
  max-width: 1200px;
}

.hero__wrapper span {
  @include font-size(2.5);

  display: block;
  font-family: $accent-font;
  color: #afc826;
  // text-align: center;

  @media only screen and (min-width: 768px) {
    @include font-size(3);
  }
}

.hero__title {
  @include font-size(3);

  font-family: $accent-font-secondary;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  color: #8ddfce;
  position: relative;

  @media only screen and (min-width: 768px) {
    padding: 10px 15px;
    @include font-size(5);
  }

  @media only screen and (min-width: 940px) {
    @include font-size(7);
  }

  span {
    @include font-size(4);
  
    font-family: $accent-font-secondary;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    color: #f3f3f2;
    position: relative;

    @media only screen and (min-width: 768px) {
      @include font-size(6);
    }

    @media only screen and (min-width: 940px) {
      @include font-size(8);
    }
  }
}

.hero__text-container {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.hero__text {
  @include font-size(3);

  font-family: $main-font;
  font-weight: 400;
  padding: 10px;
  border-top: 2px solid #afc826;
  border-bottom: 2px solid #afc826;
  color: #8ddfce;
}

.hero__link {
  @include font-size(2.5);

  font-family: $main-font;
  font-weight: 400;
  text-align: center;
  margin: 15px auto;
  padding: 10px 20px;
  background-color: #afc826;
  color: #f3f3f2;

  @media only screen and (min-width: 768px) {
    align-self: center;
    margin: 25px 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
