.main {
  box-sizing: border-box;
  padding: 200px 0 5%;
  margin-top: -100px;
  background: $medium-dark;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200%);
  }
}

.hero {
  max-width: 1200px;
  margin: 0 auto;
}

.hero__wrapper {
  margin: 40px 10px;
  padding: 20px;

  @media only screen and (min-width: 768px) {
    margin: 40px auto;
    max-width: 700px;
  }
}

.hero__title {
  font-family: $main-font;
  text-transform: uppercase;
  color: $white;
  background: $medium-dark;

  span {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
  }

  span::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $white;
    animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(-101%);
  }

  span::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: $medium-dark;
    animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
    transform: translateX(0);
  }

  span:nth-of-type(1),
  span:nth-of-type(3) {
    @include font-size(3);

    font-weight: 400;
    margin: 10px 0;

    @media only screen and (min-device-width: 768px) {
      @include font-size(4);
    }

    @media only screen and (min-device-width: 940px) {
      @include font-size(5);
    }
  }

  span:nth-of-type(2) {
    @include font-size(5.5);

    font-weight: 700;

    @media only screen and (min-device-width: 768px) {
      @include font-size(5.5);
    }

    @media only screen and (min-device-width: 940px) {
      @include font-size(8);
    }
  }

  span:nth-of-type(1)::before,
  span:nth-of-type(1)::after {
    animation-delay: 1s;
  }

  span:nth-of-type(2)::before,
  span:nth-of-type(2)::after {
    animation-delay: 1.5s;
  }

  span:nth-of-type(3)::before,
  span:nth-of-type(3)::after {
    animation-delay: 2s;
  }
}

 .hero__link {
  @include font-size(1.6);

  font-weight: 400px;
  max-width: 100px;
  padding: 10px 20px;
	line-height: (18/18);
  display: block;
  margin: 40px auto 0;

  @media only screen and (min-device-width: 768px) {
    @include font-size(2);

    max-width: 150px;
  }
 }
