@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200%);
  }
}

.main__home {
  width: 100%;
  padding: 150px 0 0;
  height: 100vh;
  margin-top: -100px;
  background: /* top, transparent red */
  linear-gradient(
    rgba(154, 10, 53, 0.5),
    rgba(154, 10, 53, 0.2)
  ),
  /* bottom, image */
  url("../images/newplant.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.hero {
  margin: 20px 0;
  @media only screen and (min-width: 768px) {
    margin: 30px 0;
  }
}

.hero__wrapper {
  width: calc(100vw - 55px);
  max-width: 1000px;
  margin: 0 auto;
}

// .sub-text {
//   @include font-size(1.8);

//   font-weight: 700;
//   font-family: $main-font;
//   position: relative;
//   color: $black;
//   padding: 15px 0;
//   display: block;
//   border-bottom: 1px solid $black;
// }

.hero__title {
  @include font-size(4);

  font-family: $feature-font;
  font-weight: 700;
  color: $black;
  padding: 10px;
  border-bottom: 1px solid $black;
  margin: 0;
  // background: $light-pink;
  position: relative;

  @media only screen and (min-width: 768px) {
    @include font-size(6);
  }
}

.sub-text {
  @include font-size(1.8);

  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  font-weight: 700;
  font-family: $main-font;
  color: $white;
  padding: 10px;
}

.sub-text::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: $white;
  background: $black;
  animation: a-ltr-after 2s cubic-bezier(.77, 0, .18, 1) forwards;
  transform: translateX(-101%);
}

.sub-text::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: $black;
  background: $white;
  animation: a-ltr-before 2s cubic-bezier(.77, 0, .18, 1) forwards;
  transform: translateX(0);
}

.sub-text::before,
.sub-text::after {
  animation-delay: 1.5s;
}

.hero__link {
@include font-size(1.6);

font-weight: 400px;
max-width: 150px;
padding: 10px 20px;
display: block;
margin: 100px auto 0;

@media only screen and (min-device-width: 768px) {
  @include font-size(2);
}
}
