.main {
  width: 100%;
  height: 100%;
  margin-top: -100px;
  background:  /* top, transparent red */
  linear-gradient(
    rgba(51, 88, 87, 0.9),
    rgba(51, 88, 87, 0.3)
  ),
  url('../images/cookie-the-pom-large.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.hero {
  height: 100%;
  width: 100%;
}

.hero__wrapper {
  padding: 100px 20px;

  @media only screen and (min-width: 768px) {
    width: calc(100vw - 55px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 50px;
	}
}

.hero__title {
  @include font-size(4);

  font-family: $feature-font;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 50px 20px;
  color: #f3f3f2;

  @media only screen and (min-width: 768px) {
    @include font-size(7);
  }

  span {
    color: #afc826;
    padding: 10px;
    display: block;
  }

  // @media only screen and (min-width: 940px) {
  //   @include font-size(8);
	// }
}

.flip__container {
  margin: 0 auto;
}

.hero__text {
  @include font-size(2.5);

  font-family: $main-font;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 30px 0;

  @media only screen and (min-width: 768px) {
    @include font-size(3);
  }
}

.hero__link {
  @include font-size(1.5);

  font-family: $main-font;
  font-weight: 400;
  text-align: center;
  margin: 15px auto;
  padding: 10px 20px;
  max-width: 150px;
  display: block;
}
