
main {
  width: 100%;
  height: 100%;
  background: url("../images/cookie-the-pom-large.jpg");
  background-size: cover;
  background-position: center center;
  background-color: #a1544a;
  background-blend-mode: luminosity;

  @media only screen and (min-width: 768px) {
    padding: 20px 10px;
  }

  @media only screen and (min-width: 940px) {
    padding: 30px;
  }
}

.postcard {
  -webkit-box-shadow: 1px 3px 14px -1px rgba(161, 84, 74, 0.46);
  -moz-box-shadow: 1px 3px 14px -1px rgba(161, 84, 74, 0.46);
  box-shadow: 1px 3px 14px -1px rgba(161, 84, 74, 0.46);
  height: 100%;
  background: /* top, transparent red */
  linear-gradient(
    rgba(161, 84, 74, 0.7),
    rgba(161, 84, 74, 0.7)
  );
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1200px;
  width: calc(100vw - 100px);
  margin: 0 auto;
}

.name {
  @include font-size(5);

  font-family: $title-font;
  color: #a1544a;
  mix-blend-mode: screen;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  margin: 15px 0;
  text-align: center;

  @media only screen and (min-width: 470px) {
    @include font-size(6);
  }

  @media only screen and (min-width: 570px) {
    @include font-size(7);
  }

  @media only screen and (min-width: 768px) {
    @include font-size(8.5);
  }

  @media only screen and (min-width: 940px) {
    @include font-size(10);
  }
}

.sub-title {
  @include font-size(2.5);

  font-family: $open-sans;
  color: $white;
  line-height: 1.2;
  font-weight: 400;
  margin: 20px;
  padding: 15px 0;

  @media only screen and (min-width: 470px) {
    @include font-size(3);
  }

  @media only screen and (min-width: 570px) {
    @include font-size(3.5);
  }

  // @media only screen and (min-width: 768px) {

  // }

  span {
    display: block;
    margin: 10px 0;
    font-weight: 500;

    @media only screen and (min-width: 470px) {
      @include font-size(3);
    }

    @media only screen and (min-width: 570px) {
      @include font-size(4);
    }

    @media only screen and (min-width: 768px) {
      margin: 0;
      @include font-size(6);
    }
  }

  span:nth-of-type(5) {
    display: inline-block;
  }
}

.accent-text {
  @include font-size(1.8);

  font-family: $accent-font;
  color: #3f8393;
  line-height: 1.2;
  text-align: center;
  display: block;

  @media only screen and (min-width: 940px) {
    text-align: left;
  }
}

.btn-containers {
  padding: 30px 10px 20px;
  background: url("../images/cookie-the-pom-medium.jpg");
  background-size: cover;
  background-position: center center;
  background-color: #916a7b;
  background-blend-mode: multiply;

  @media only screen and (min-width: 940px) {
    width: 50%;
  }
}

.home__link {
  @include font-size(1.8);

  font-family: $accent-font;
  text-align: center;
  max-width: 150px;
  text-decoration: none;
  margin: 15px auto;
  display: block;
  padding: 15px 20px;
  color: $white;
  border-radius: 3px;
  border: 2px solid #3f8393;
}
