
$pink: rgba(247, 147, 251, 1);
$pink2: rgba(245, 87, 108, 0.7);

.main {
  background-color: #f3f5f7;
  width: 100%;
  display: block;
}

$test: rgba(164, 69, 178, 1);
$test-3: rgba(212, 24, 162, .7);
$test-4: rgba(255, 0, 102, .7);

.hero-wrapper {
  background: url("../images/medium.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin-top: -100px;

  @media only screen and (min-width: 768px) {
    background: url("../images/medium.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }

  @media only screen and (min-width: 940px) {
    background: url("../images/large.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.hero {
  background: linear-gradient(-225deg, $test 10%, $test-3 52%, $test-4 100%);
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 100px 0 40px;
}

.text-wrap {
  padding: 10px;
}

.title {
  font-family: $secondary-font;
  font-weight: 400;
  color: $white;
  font-size: 30px;
  margin: 20px 0 20px;
  padding: 0 20px;
}

.accent-text {
  font-family: $tertiary-font;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  color: $white;
  padding: 10px 20px;
  max-width: 100px;
  display: block;
}

.hero-text {
  font-family: $secondary-font;
  font-size: 20px;
  color: $white;
  font-weight: 400;
  padding: 10px 20px;
}

.link {
  font-size: 15px;
  font-family: $primary-font;
  font-weight: 400;
  border: 1px solid blue;
  padding: 15px 20px;
  max-width: 155px;
  display: block;
  margin: 30px auto 0;
  text-decoration: none;
  color: #333b47;
  text-align: center;

  @media only screen and (min-width: 768px) {
    margin: 60px auto 0;
  }
}

.thumbnail {
  height: 300px;
  width: 200px;
}
