
.main__home {
  background-color: #f3f5f7;
  width: 100%;
  display: block;
}

.gradient-wrapper {
  background: url("../images/smallmobile-cookie.png") no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  display: block;
  padding: 40px 15px;

  @media only screen and (min-width: 768px) {
    background: url("../images/cookiethepom.png") no-repeat center center;
    background-size: cover;
  }

  @media only screen and (min-width: 940px) {

  }
}

.text {
  margin: 0 auto;
  padding: 100px 0 0;
  display: block;
  width: 100%;

  @media only screen and (min-width: 768px) {
    width: calc(100vw - 55px);
  }
}

.name {
  padding: 10px 15px;
  position: relative;
  display: block;
  margin: 0 auto 50px;
  @include font-size(7);
  text-align: center;
  color: $moderate-green;
  line-height: 1.2;
  font-weight: 700;
  max-width: 700px;
  white-space: wrap;
  cursor: default;
}

.sub-text {
  @include font-size(1.8);

  font-family: $lato;
  font-weight: 400;
  line-height: 1.3;
  color: $dark-blue;
  padding: 20px;
  position: relative;
  display: block;
  margin: 0;
  background: $yellow;
  text-align: center;

  @media only screen and (min-width: 768px) {
    @include font-size(2.5);

    max-width: 768px;
    margin: 0 auto;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 104px 90px;
      border-color: transparent transparent $yellow transparent;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background: $yellow;
    }
  }
}

.center-link {
  @include font-size(1.2);

  font-family: $title-font;
  font-weight: 400;
  padding: 15px 20px;
  max-width: 150px;
  display: block;
  margin: 30px auto 0;
  text-decoration: none;
  color: $white;
  background: $dark-cyan;
  border-radius: 26px;
  text-align: center;

  @media only screen and (min-width: 768px) {
    @include font-size(1.5);

    margin: 60px auto 0;
  }
}
