.hero-wrapper {
  padding: 20px;
  background: $purple;
}

.hero-text {
  width: calc(100vw - 55px);
  max-width: 1150px;
  margin: 0 auto;
  font-family: $playfair;
  font-weight: 300;
  color: $new-white;
  font-size: 45px;
  line-height: 1.3;

  @media only screen and (min-width: 768px) {
    font-size: 90px;
  }
}

.info {
  width: calc(100vw - 55px);
  max-width: 1150px;
  margin: 40px auto 20px;
}

.hp-button {
  display: block;
  width: 100%;
  max-width: 1150px;
  padding: 20px;
  border-style: none;
  border-radius: 10px;
  font-family: $playfair;
  font-size: 25px;
  font-style: italic;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: $purple;

  @media only screen and (min-width: 768px) {
    font-size: 60px;
  }
}

.hp-link {
  display: block;
  padding: 20px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom: 1px solid $black;
  font-family: $playfair;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: $purple;
  cursor: pointer;

  @media only screen and (min-width: 768px) {
    font-size: 60px;
  }

  &:hover {
    color: $dark-grey;
  }
}

.regular-text {
  margin: 20px auto 10px;
  max-width: 750px;
  font-family: $lato;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;

  @media only screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.pronunciation {
  font-size: 25px;
  color: $pink;
}

.text-container--show {
  display: block;
}

.text-container--flex {
  display: flex;
}

.text-container--hide {
  display: none;
}

.text-container__projects {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 15px auto;
}

.project-item {
  width: 100%;
  max-width: 250px;
  margin: 15px;
  padding: 10px;
  border: 1px solid $purple;
}

.thumbnail {
  width: 200px;
  max-height: 200px;
}

.project-title {
  padding: 10px;
  border-bottom: 1px solid $grey;
  font-family: $playfair;
  font-size: 14px;
  font-weight: 600;
  text-align: center;

  @media only screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.short-description {
  font-family: $lato;
  font-size: 12px;
  font-weight: 300;

  @media only screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.readme {
  text-transform: uppercase;
  font-family: $lato;
  font-size: 12px;
  font-weight: 700;
}
