
main {
  width: 100%;
  height: 100%;
  background: #f6cd20;
  padding: 20px 10px;

  @media only screen and (min-width: 768px) {
    padding: 50px;
  }
}

.postcard {
  background: $white;
  -webkit-box-shadow: 1px 3px 14px -1px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 1px 3px 14px -1px rgba(0, 0, 0, 0.46);
  box-shadow: 1px 3px 14px -1px rgba(0, 0, 0, 0.46);
  padding: 5px;
}

.hero {
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 940px) {
    flex-direction: row;
  }
}

.intro-text {
  padding: 30px 10px 20px;
  background: url("../images/cookie-the-pom-medium.jpg");
  background-size: cover;
  background-position: center center;
  background-color: #6d4948;
  background-blend-mode: multiply;

  @media only screen and (min-width: 940px) {
    width: 50%;
  }
}

.name {
  @include font-size(5);

  font-family: $title-font;
  color: #6e5455;
  mix-blend-mode: screen;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto 30px;
  text-align: center;

  span {
    display: block;
  }

  @media only screen and (min-width: 470px) {
    @include font-size(6);
  }

  @media only screen and (min-width: 570px) {
    @include font-size(7);
  }

  @media only screen and (min-width: 940px) {
    text-align: left;
  }
}

.sub-title {
  @include font-size(2.5);

  font-family: $main-font;
  color: $white;
  line-height: 1.2;
  font-weight: 400;
  margin: 0 5px 20px;
  text-align: center;

  @media only screen and (min-width: 940px) {
    text-align: left;
  }
}

.accent-text {
  @include font-size(1.8);

  font-family: $accent-font;
  color: #3f8393;
  line-height: 1.2;
  text-align: center;
  display: block;

  @media only screen and (min-width: 940px) {
    text-align: left;
  }
}

.btn-containers {
  padding: 30px 10px 20px;
  background: url("../images/cookie-the-pom-medium.jpg");
  background-size: cover;
  background-position: center center;
  background-color: #916a7b;
  background-blend-mode: multiply;

  @media only screen and (min-width: 940px) {
    width: 50%;
  }
}

.home__link {
  @include font-size(1.8);

  font-family: $accent-font;
  text-align: center;
  max-width: 150px;
  text-decoration: none;
  margin: 15px auto;
  display: block;
  padding: 15px 20px;
  color: $white;
  border-radius: 3px;
  border: 2px solid #3f8393;
}
