.main__projects {
  width: 100%;
  background-image: url("../images/goodnews.jpg");
  background-size: cover;
  background-color: $pure-yellow;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center;
  margin-top: -100px;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;

  @media only screen and (min-width: 768px) {
    background-repeat: repeat;
    background-size: contain;
  }
}

.wrapper {
  width: 100%;
  margin: 200px 15px 0;
  max-width: 700px;
  background: $bright-red;
  border-radius: 5px;

  @media only screen and (min-width: 768px) {
    margin: 200px auto 0;
  }
}

.under-construction {
  font-size: 15px;
  font-family: $primary-font;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding: 30px 20px;
}
