.section__title {
  @include font-size(2.5);

  font-family: $title-font;
  font-weight: 700;
  color: $medium-dark;
  padding: 20px 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
    height: 100%;
    opacity: .5;
    border-top: 1px solid $bright-red;
    border-bottom: 1px solid $bright-red;
  }
}

.section__list-item {
  @include font-size(1.8);

  font-family: $main-font;
  font-weight: 400;
  line-height: (18/18);
  color: $bright-red;
  // margin: 0 0 20px;
  list-style-type: none;
}

.fas .fa-star {
  @include font-size(1.2);

  color: $bright-red;
}

.far .fa-star {
  color: $bright-red;
}

.section__list {
  // margin: 30px 0 20px;

  @media only screen and (min-device-width: 768px) {
    column-width: 130px;
    // margin: 40px 0 30px;
  }
}

.resume__content.timeline-stuff {
  @media only screen and (min-device-width: 768px) {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .section__title {
    @media only screen and (min-device-width: 768px) {
      grid-column-end: 3;
      grid-column-start: 1;
    }
  }

  .timeline {
    @media only screen and (min-device-width: 768px) {
      grid-column-end: 3;
      grid-column-start: 2;
      column-width: auto;
    }
  }
}

.timeline-text {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  color: $bright-red;
}

.small-text {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  color: $bright-red;
  display: block;
  align-self: center;
}

.resume__wrapper {
  margin: 40px auto;
  max-width: 1200px;
  width: calc(100vw - 55px);
}
