.resume {
  margin: 40px auto;
  padding: 40px 30px;
  max-width: 1200px;
  width: calc(100vw - 100px);
  box-shadow: 0 0 5px 1px rgba(216, 216, 216, 1);
}

.section__container {
  border-top: 1px solid $medium-dark;
  padding: 30px 0;
  max-width: 850px;
  margin: 0 auto;

  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 25% 75%;
  }
}

.title {
  @include font-size(1.4);

  font-family: $title-font;
  font-weight: 700;
  color: $medium-dark;
  padding: 10px;
  position: relative;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.6;

  @media only screen and (min-width: 768px) {
    @include font-size(1.6);

    text-align: center;
  }
}

.fas {
  margin-right: 15px;
}

.text__intro {
  @include font-size(1.6);

  font-family: $main-font;
  font-weight: 400;
  font-style: italic;
  color: $black;
  position: relative;
  padding: 10px;
  margin: 0;
  line-height: 1.6;
  grid-column-start: 2;
  grid-column-end: 3;

  @media only screen and (min-width: 768px) {
    padding: 10px 20px;
  }
}

.title__position {
  @include font-size(1.6);

  font-family: $main-font;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  line-height: 1.6;
  display: inline-block;
}

.text__summary {
  @include font-size(1.6);

  font-family: $main-font;
  font-weight: 400;
  font-style: italic;
  color: $black;
  padding: 10px 0;
  margin: 0;
  line-height: 1.6;
}

.section__text-container {
  padding: 10px;

  @media only screen and (min-width: 768px) {
    padding: 10px 20px;
  }
}

.list-item {
  @include font-size(1.6);

  font-family: $main-font;
  line-height: 1.6;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;
}

.list__one-word {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding-inline-start: 0;
  column-width: 215px;

  .list-item {
    position: relative;

    &--proficient {
      &::before {
        content: '';
        position: absolute;
        height: 7px;
        width: 100px;
        background: linear-gradient(90deg, rgba(154, 10, 53, 1) 62%, rgba(255, 233, 236, 1) 100%);
        top: 40%;
        left: 100px;
      }
    }

    &--medium {
      &::before {
        content: '';
        position: absolute;
        height: 7px;
        width: 100px;
        background: linear-gradient(90deg, rgba(154, 10, 53, 1) 50%, rgba(255, 233, 236, 1) 80%);
        top: 40%;
        left: 100px;
      }
    }

    &--novice {
      &::before {
        content: '';
        position: absolute;
        height: 7px;
        width: 100px;
        background: linear-gradient(90deg, rgba(154, 10, 53, 1) 15%, rgba(255, 233, 236, 1) 60%);
        top: 40%;
        left: 100px;
      }
    }
  }
}

.list__description {
  padding-inline-start: 20px;

  .list-item {
    text-transform: initial;
  }
}

.title__small {
  @include font-size(1.4);

  font-family: $main-font;
  font-weight: 700;
  font-style: italic;
  color: $medium-dark;
  display: block;
  text-transform: uppercase;
}

.resume-link {
  @include font-size(1.5);

  font-weight: 400px;
  max-width: 100px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto 20px;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px 20px;
}
