.resume__wrapper {
  margin: 40px auto;
  padding: 10px;
  max-width: 1200px;
  width: calc(100vw - 55px);
  box-shadow: 0 0 5px 1px rgba(216, 216, 216, 1);
}

.section__title {
  @include font-size(1.4);

  font-family: $title-font;
  font-weight: 700;
  color: $medium-dark;
  padding: 20px 10px;
  position: relative;
  text-transform: uppercase;

  @media only screen and (min-device-width: 768px) {
    @include font-size(1.6);
  }
}

.section__list-item {
  @include font-size(1.6);

  font-family: $main-font;
  font-weight: 400;
  color: $black;
  padding: 20px 10px;
  text-transform: uppercase;

  @media only screen and (min-device-width: 768px) {
    @include font-size(1.8);
  }
}

.resume__content {
  &.timeline-stuff {
    position: relative;
    padding-bottom: 40px;

    .section__title {
      margin-bottom: 1px;
    }
  }

  @media only screen and (min-device-width: 768px) {
    max-width: 700px;
    margin: 0 auto;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  position: relative;

  @media only screen and (min-device-width: 768px) {
    flex-direction: row;
    justify-content: unset;
    max-width: 600px;
    margin: 0 auto;
    padding-inline-start: 0;
  }
}

.timeline {
  position: relative;
  padding-inline-start: 20px;

  .section__list-item {
    text-transform: initial;
  }
}

.small-text {
  @include font-size(1.4);

  font-family: $main-font;
  font-weight: 700;
  font-style: italic;
  color: $medium-dark;
  display: block;
  padding: 0 40px;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: 2;
}

.summary-text {
  @include font-size(1.6);

  font-family: $main-font;
  font-weight: 400;
  font-style: italic;
  color: $black;
  position: relative;
}

.timeline-text {
  @include font-size(1.8);

  font-family: $main-font;
  font-weight: 700;
  color: $black;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 7px;
    left: -26px;
    width: 8px;
    height: 8px;
    border-radius: 5px;
    border: 1px solid $black;
  }
}

.timeline-text,
.summary-text,
.timeline {
  margin: 18px 10px 18px 40px;
}

.show-more {
  @include font-size(1.6);

  font-family: $main-font;
  font-weight: 400;
  color: $medium-dark;
  padding: 10px;
  border: 1px solid $medium-dark;
  border-radius: 50px;
  background: $white;
  width: 100%;
  display: block;
  margin: 0 auto;

  @media only screen and (min-device-width: 940px) {
    max-width: 150px;
  }

  &--open {
    bottom: 0;
    position: absolute;

    @media only screen and (min-device-width: 768px) {
      left: 50%;
      margin-left: -100px;
    }
  }
}

.show-more-section {
  display: none;
}

.show-more-section--open {
  display: block;
}

.fas {
  margin-right: 15px;
}
