// Font
$main-font: 'Montserrat', sans-serif;

//Colors
$color-white: #fff;
$color-black: #00171f;
$color-parisian-blue: #003459;
$color-cerulean: #007ea7;
$color-vivid-cerulean: #00a8e8;
$color-bubbles: #e7f7fc;

body {
 background:$color-white;
 box-sizing: border-box;
 margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  width: 100%;
}

.header__container {
  display: grid;
  max-width: 1200px;
  margin: 10px auto;
  grid-template-columns: 50% 50%;
}

.header__logo {
  padding: 10px 20px 10px 30px;
  max-width: 200px;
}

.logo {
  font-size: 20px;
  font-family: $main-font;
  font-weight: 700;
  color: $color-parisian-blue;
  text-transform: uppercase;
  margin: 0;
}

.header__menu {
  text-align: right;
}

.menu__wrapper {
  margin: 10px 20px 10px 30px;
  @media only screen and (min-width: 900px) {
    margin: 10px 0 10px 200px;
  }
}

.menu__links {
  display: block;
  padding: 10px;
  font-size: 14px;
  font-family: $main-font;
  font-weight: 700;
  color: $color-parisian-blue;
  text-transform: uppercase;
  text-decoration: none;
  @media only screen and (min-width: 900px) {
    display: inline-block;
  }
}

.menu__links:hover {
  background: $color-bubbles;
  border-radius: 10px;
}

.main {
  box-sizing: border-box;
  display: grid;
}

.main__wrapper {
  width: 100%;
  background: linear-gradient(
    rgba(133, 193, 233, 0.65), 
    rgba(133, 193, 233, 0.65)
  ), url('../images/max-stromfeld-Rd1kPbxVP5Q-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
}

.main__content {
  display: block;
  background-color: $color-bubbles;
  margin: 225px 0 200px;
  padding: 10px 0;
  width: 100%;
  @media only screen and (min-device-width: 900px) {
    width: 50%;
  }
}

.main__title {
  font-family: $main-font;
  font-weight: 500;
  font-size: 35px;
  line-height: 1;
  padding: 10px;
  text-align: center;
  @media only screen and (min-device-width: 900px) {
    text-align: left;
  }
}

.intro {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  background-color: $color-bubbles;
}

.intro__content {
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: $main-font;
  color: $color-parisian-blue;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  margin: 10px;
  @media only screen and (min-device-width: 900px) {
    font-size: 20px;
  }
}

.footer {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 50% 50%;
}

.footer__menu {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.social {
  font-family: $main-font;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  padding: 10px;
}

.social__links {
  font-size: 15px;
}
