// Font
$main-font: 'Montserrat', sans-serif;

//Colors
$color-white: #fff;
$color-black: #00171f;
$color-parisian-blue: #003459;
$color-cerulean: #007ea7;
$color-vivid-cerulean: #00a8e8;
$color-bubbles: #e7f7fc;

body {
 background:$color-white;
 box-sizing: border-box;
 margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.header {
  width: 100%;
}

.header__container {
  display: block;
  @media only screen and (min-width: 939px) {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
  }
}

.header__logo {
  @media only screen and (min-width: 939px) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.logo {
  font-size: 20px;
  font-family: $main-font;
  font-weight: 400;
  line-height: 1;
  color: $color-parisian-blue;
  text-transform: uppercase;
  margin: 10px 0;
  padding: 10px 0;
}

.header__menu {
  text-align: right;
  margin: 5px 0;
}

.menu__links {
  display: inline-block;
  font-size: 14px;
  font-family: $main-font;
  font-weight: 400;
  line-height: 1;
  color: $color-parisian-blue;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  @media only screen and (min-width: 939px) {
  //  display: block;
  }
}

.menu__links:hover {
  background: $color-bubbles;
  border-radius: 10px;
}

.main__wrapper {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  width: 100%;
  background: linear-gradient(
    rgba(133, 193, 233, 0.65), 
    rgba(133, 193, 233, 0.65)
  ), url('../images/max-stromfeld-Rd1kPbxVP5Q-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 20%;
}

.main__content {
  grid-column-start: 1;
  grid-column-end: span end;
  display: block;
  background-color: $color-bubbles;
  margin: 225px 0 200px;
  padding: 10px 0;
  width: 100%;
  position: relative;
  @media only screen and (min-device-width: 939px) {
    grid-column-start: 2;
    width: 45%;
    &::before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      background-color: $color-bubbles;
      width: 50%;
      height: 100%;
    }
   // transform: translateX(-50%);
  }
}

.main__title {
  font-family: $main-font;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  padding: 10px;
  text-align: center;
  @media only screen and (min-device-width: 939px) {
    text-align: left;
  }
}

.intro {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  background-color: $color-bubbles;
  padding: 20px 0;
}

.intro__content {
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: $main-font;
  color: $color-parisian-blue;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  margin: 15px;
  @media only screen and (min-device-width: 939px) {
    font-size: 20px;
  }
}

.footer {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 33% 33% 33%;
  background-color:#fff;
}

.footer__menu {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-items: center;
  text-align: center;
  margin: 10px 0;
}

.socials {
  padding: 10px 0;
}

.footer__links {
  grid-column-start: 2;
  grid-column-end: 3;
}

.link {
  font-family: $main-font;
  font-weight: 500;
  font-size: 15px;
  color: $color-parisian-blue;
  line-height: 1;
  text-decoration: none;
  padding-right: 5px;
}

.link:hover {
  text-decoration: underline;
}

.social__links {
  color: #003459;
  font-size: 20px;
  padding-right: 5px;
}

.copyright {
  font-family: $main-font;
  font-weight: 500;
  font-size: 12px;
  color: $color-parisian-blue;
  padding: 10px 0;
}
