// Normalize
@import 'normalize';

// Variables
@import 'variables';

// Base
@import 'base';

// Header
@import 'header';

// Homepage
@import 'homepage';

// Resume
@import 'resume';

// Contact
@import 'projects';

// Contact
@import 'contact';

// Footer
@import 'footer';
