// Font
$main-font: 'Montserrat', sans-serif;

body {
  background: #fff;
}
header {
  width: 100%;
  border-bottom: 1px solid #000;
//   -webkit-box-shadow: -1px 4px 22px 1px rgba(0,0,0,0.33);
//   -moz-box-shadow: -1px 4px 22px 1px rgba(0,0,0,0.33);
//   box-shadow: -1px 4px 22px 1px rgba(0,0,0,0.33);
}
.header {
  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__title {
    font-size: 14px;
    font-family: $main-font;
    font-weight: 700;
    color: #9F2399;
  }

  &__content-wrapper {
      text-align: right;
  }

  &__content {
    font-size: 14px;
    font-family: $main-font;
    font-weight: 300;
    color: #9F2399;
    display: inline-block;
  }

  &__links {
    display: inline-block;
  }
}


