// Font
$main-font: 'Montserrat', sans-serif;

body {
 background: #fff;
 max-width: 1200px;
 margin: 0 auto;
 box-sizing: border-box;
}

.header {
  width: 100%;
  border-bottom: 1px solid black;
}

.header__container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo {
  font-size: 14px;
  font-family: $main-font;
  font-weight: 700;
  color: #9F2399;
}

.header__menu {
  font-size: 14px;
  font-family: $main-font;
  font-weight: 300;
  color: #9F2399;
  display: inline-block;
}

.menu__links {
  display: inline-block;
}

.main {
  &__container {
    box-sizing: border-box;
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
  }

  &__title {
    font-family: $main-font;
    font-size: 30px;
    line-height: 1;
  }

  &__text {
    font-family: $main-font;
    font-size: 20px;
    line-height: 1;
  }

  &__content-wrapper {
    margin: 30px 15px;
  }

  &__links-container {
    box-sizing: border-box;
  }
}

.button {
  background: #e6e6fA;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 3px 0px 28px -5px rgba(0,0,0,0.19);
  margin: 15px;

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    font-family: $main-font;
    line-height: 1;
    color: #000;
  }
}

.base-margin {
  margin: 20px 40px;
}




