// Font
$title-font: 'Roboto', sans-serif;
$main-font: 'Karla', sans-serif;

// Colors
$white: #fff;
$black: #000;

$bright-red: #c12957;
$medium-dark: #9a0a35;

// Font Size
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
