// Font
$main-font: 'Montserrat', sans-serif;

//Colors
$color-white: #fff;
$color-black: #00171f;
$color-parisian-blue: #003459;
$color-cerulean: #007ea7;
$color-vivid-cerulean: #00a8e8;
$color-bubbles: #e7f7fc;
