// Font
$primary-font: 'Hind Siliguri', sans-serif;
$secondary-font: 'Playfair Display', serif;

// Colors
$white: #fff;
$black: #000;
$grey: #d8d8d8;

$pure-yellow: #ffc300;
$dark-blue: #212330;
$bright-red: #f44336;
$dark-cyan: #378981;
$moderate-green: #689e4d;
$medium-dark: #9a0a35;
$light-pink: #ffe9ec;

$dark: #1f1425;
$text: #fbfdf9;
$what: #fff457;
