// Font
$playfair: 'Playfair Display', serif;
$lato: 'Lato', sans-serif;

// Colors
$white: #fff;
$black: #000;
$grey: #d8d8d8;

$different-white: #f6f4f1;
$light-brown: #f7c28d;
$dark-brown: #885939;
$pink: #b76e88;
$dark-blue: #201e26;

$light-grey: #ededed;
$dark-grey: #a8a8a8;
