// Font
$title-font: 'Roboto', sans-serif;
$main-font: 'Karla', sans-serif;

// Colors
$white: #fff;
$black: #000;
$grey: #d8d8d8;

$bright-red: #c12957;
$medium-dark: #9a0a35;
$light-pink: #ffe9ec;

// Font Size
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// Base Styles
.link {
  font-family: $main-font;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
}

.solid-link {
  &--white {
    color: $medium-dark;
    background: $white;
  }

  &--medium-dark {
    color: $white;
    background: $medium-dark;
  }
}
