<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__menu">
      <a class="footer__link social" href="https://www.instagram.com/nish3000/?hl=en"><i class="fab fa-instagram"></i></a>
      <a class="footer__link social" href="https://github.com/nishtha-sharma1"><i class="fab fa-github-square"></i></a>
      <a class="footer__link social" href="https://www.linkedin.com/in/nishtha-sharma-b68b5733/"><i class="fab fa-linkedin"></i></a>
    </div>
    <span class="copyright">Copyright © 2020 Nishtha Sharma </span>
  </div>
</footer>