<header class="header">
  <nav role="navigation" class="menu">
    <div class="home-box">
      <a class="home__link" href="/"><i class="fas fa-home"></i></a>
      <p class="logo-text">NS</p>
    </div>
      <button class="menu__text">Menu</button>
      <ul class="menu__items js-toggle-menu">
        <li class="menu__item"><a class="menu__link" href="/resume.html">Resume</a></li>
        <li class="menu__item"><a class="menu__link" href="https://github.com/nishtha-sharma1">Projects</a></li>
        <button class="menu-button js-contact">Contact</button>
      </ul>
    </nav>
</header>